@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 60px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #07553B;
}

.banner-text a {
    width: 100%;
    height: 64px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #CED46A;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    background-image: url(./background-img.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: right;
    padding: 0 20px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -0.03em;
    line-height: 125%;
    color: #E8F3F5;
    text-shadow: 0px 4px 60px rgba(0, 0, 0, 0.4);
    margin-bottom: 24px;
}


.hero-title strong {
    display: block;
    font-family: 'Aguafina Script', cursive;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #EAFEF4;
    margin-bottom: 0px;
}

.hero-button {
    width: 160px;
    height: 52px;;
    background: rgba(47, 72, 88, 0.5);
    border: 2px solid #E8F3F5;
    border-radius: 4px;
}

.hero-button a {
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #E8F3F5;
}

@media screen and (min-width: 768px) {
    .banner {
        top: 0;
        bottom: auto;
    }
    
    .banner-text a {
        height: 80px;
    }

    .hero {
        align-items: center;
    }

    .hero-title {
        font-size: 72px;
        font-weight: 800px;
        text-align: center;
        margin: 56px;
    }

    .hero-button {
        width: 180px;
        height: 56px;;
    }

    .hero-button a {
        font-size: 18px;
    }


}